

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="./register.component.css">
</head>


<body>
    <span id="fr">Profile</span>
    <script>
        function Profile() {
          document.getElementById("fr").innerHTML = document.getElementById('s').value + "I'm " + document
            .getElementById('inf1').value + " "+document.getElementById('inf1').value + " " +"I,m " + document.getElementById('inf4').value +"years old and you can send your emails to "+document.getElementById('inf2').value+". I live in the state "+document.getElementById('st1').value+". Please reach out to me on my phone number: "+document.getElementById('inf3').value+".";
        }
      </script>
  
</body>